openapi: 3.2.0
info:
  title: SleekFlow Platform Companies API
  description: The SleekFlow Platform API lets you build custom integrations on top of the SleekFlow omnichannel messaging platform.
  termsOfService: https://sleekflow.io/terms-of-service
  contact:
    name: SleekFlow Support
    url: https://help.sleekflow.io
  version: '1.0'
servers:
- url: https://api.sleekflow.io
  description: SleekFlow Platform API
security:
- ApiKeyAuth: []
tags:
- name: Companies
  description: Manage company records.
paths:
  /v1/companies:
    get:
      operationId: getCompanies
      tags:
      - Companies
      summary: Get companies
      description: Returns a list of company records.
      responses:
        '200':
          description: A list of companies.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'
    post:
      operationId: createCompany
      tags:
      - Companies
      summary: Create company
      description: Creates a new company record.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyInput'
      responses:
        '200':
          description: The created company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
  /v1/companies/{companyId}:
    get:
      operationId: getCompany
      tags:
      - Companies
      summary: Get company
      description: Returns a single company record.
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The requested company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
components:
  schemas:
    Company:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        domain:
          type: string
        customFields:
          type: object
          additionalProperties: true
    CompanyInput:
      type: object
      properties:
        name:
          type: string
        domain:
          type: string
        customFields:
          type: object
          additionalProperties: true
      required:
      - name
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Sleekflow-ApiKey
      description: Platform API key issued from the SleekFlow Integrations dashboard (Admin access required).
