openapi: 3.2.0
info:
  title: SleekFlow Platform Webhooks API
  description: The SleekFlow Platform API lets you build custom integrations on top of the SleekFlow omnichannel messaging platform.
  termsOfService: https://sleekflow.io/terms-of-service
  contact:
    name: SleekFlow Support
    url: https://help.sleekflow.io
  version: '1.0'
servers:
- url: https://api.sleekflow.io
  description: SleekFlow Platform API
security:
- ApiKeyAuth: []
tags:
- name: Webhooks
  description: Register webhook subscriptions for platform events.
paths:
  /v1/webhooks:
    get:
      operationId: getWebhooks
      tags:
      - Webhooks
      summary: List webhook subscriptions
      description: Returns the registered webhook subscriptions.
      responses:
        '200':
          description: A list of webhook subscriptions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'
    post:
      operationId: createWebhook
      tags:
      - Webhooks
      summary: Register webhook subscription
      description: Registers a webhook callback URL to receive events such as new and updated contacts and incoming messages.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookInput'
      responses:
        '200':
          description: The created webhook subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
components:
  schemas:
    Webhook:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
        events:
          type: array
          items:
            type: string
        status:
          type: string
    WebhookInput:
      type: object
      properties:
        url:
          type: string
        events:
          type: array
          items:
            type: string
            enum:
            - contact.created
            - contact.updated
            - message.received
      required:
      - url
      - events
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Sleekflow-ApiKey
      description: Platform API key issued from the SleekFlow Integrations dashboard (Admin access required).
