openapi: 3.0.1
info:
  title: SleekFlow Platform Companies Staff and Teams API
  description: The SleekFlow Platform API lets you build custom integrations on top of the SleekFlow omnichannel messaging platform. It exposes contacts, conversations and messaging (WhatsApp and other channels), companies, lists, staff and teams, and webhooks. Authentication uses a Platform API key issued from the SleekFlow Integrations dashboard (Admin access required), passed in the X-Sleekflow-ApiKey request header. Endpoint paths in this document follow SleekFlow's documented Platform API resources; verify exact paths and request/response shapes against the live reference at apidoc.sleekflow.io during reconciliation.
  termsOfService: https://sleekflow.io/terms-of-service
  contact:
    name: SleekFlow Support
    url: https://help.sleekflow.io
  version: '1.0'
servers:
- url: https://api.sleekflow.io
  description: SleekFlow Platform API
security:
- ApiKeyAuth: []
tags:
- name: Staff and Teams
  description: Manage staff and teams.
paths:
  /v1/staff:
    get:
      operationId: getAllStaff
      tags:
      - Staff and Teams
      summary: Get all staff
      description: Returns all staff members in the account.
      responses:
        '200':
          description: A list of staff.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Staff'
  /v1/staff/{staffId}:
    get:
      operationId: getStaff
      tags:
      - Staff and Teams
      summary: Get staff
      description: Returns a single staff member.
      parameters:
      - name: staffId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The requested staff member.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Staff'
  /v1/teams:
    get:
      operationId: getAllTeams
      tags:
      - Staff and Teams
      summary: Get all teams
      description: Returns all teams in the account.
      responses:
        '200':
          description: A list of teams.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
    post:
      operationId: createTeam
      tags:
      - Staff and Teams
      summary: Create team
      description: Creates a new team.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamInput'
      responses:
        '200':
          description: The created team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
components:
  schemas:
    TeamInput:
      type: object
      properties:
        name:
          type: string
      required:
      - name
    Team:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        memberCount:
          type: integer
    Staff:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        role:
          type: string
        teamIds:
          type: array
          items:
            type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Sleekflow-ApiKey
      description: Platform API key issued from the SleekFlow Integrations dashboard (Admin access required).
